body {
    font-size: 22px;
    color: #1a1a1a;
    font-family: Muli, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url(bg.jpg);
    background-size: cover
}

.overlay {
    background: hsla(0, 0%, 100%, .7);
    min-height: 100%;
    min-width: 100%
}

.container {
    padding: 12px;
}

.page-section {
    padding: 12px 0
}

.logo {
    display: block;
    padding: 48px 0;
    max-width: 100%;
    margin: 0 auto
}

.site-title {
    font-size: 64px;
    font-size: 4rem;
    margin: 16px 0;
    margin: 1rem 0
}

.label {
    font-weight: 700;
    padding-right: 1em
}

h1,
h2 {
    line-height: 1.2;
    font-family: Neuton, serif;
    margin-top: 12px;
    margin-bottom: 6px
}

p {
    margin: 0
}

a {
    color: #107d42;
    text-decoration: none
}

a:hover {
    color: #07391e;
    text-decoration: underline;
}

@media only screen and (orientation: landscape) {
    .container {
        max-width: 650px;
        margin: 0 auto;
        padding: 48px;
    }
}

@media only screen and (orientation: portrait){

    body {
        background-position-x: 30%;
        font-size: 50px;
    }
    .container {
        padding: 48px;
    }
    .page-section {
      padding-bottom: 200pt;
    }
    .logo {
      width: 100%;
    }
}

@font-face {
    font-family: Muli;
    font-style: normal;
    font-weight: 400;
    src: local("Muli Regular"), local("Muli-Regular"), url(https://fonts.gstatic.com/s/muli/v10/BfQP1MR3mJNaumtWa4Tizg.ttf) format("truetype")
}

@font-face {
    font-family: Neuton;
    font-style: normal;
    font-weight: 700;
    src: local("Neuton Bold"), local("Neuton-Regular"), url(https://fonts.gstatic.com/s/neuton/v9/2yfL00UA7vu40fNHPnbJgw.ttf) format("truetype")
}
