body {
      margin: 40px auto;
      max-width: 650px;
      line-height: 1.6;
      font-size: 18px;
      color: #444;
      padding: 0 10px;
}

.logo {
    display: block;
    margin: auto;
}

.label {
    font-weight: bold;
    padding-right: 1em;
}

h1, h2, h3, h4 {
    text-align: center;
    line-height: 1.2;
}